- autoplay = "autoplay=1"
-# autoplay = ""
!!!
%html.bg-dark
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title DogeNFC - A Dogecoin wallet with NFC support
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/vendor/helper.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body.bg-dark
    %a{:href => "https://github.com/makevoid/DogeNFC"}
      %img{:alt => "Fork me on GitHub", "data-canonical-src" => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :src => "https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
    .line-compress.center-content.bg-dark.color-white
      .separator50
      %img{:src => "http://mkvd.s3.amazonaws.com/DogeNFC/DogeNFC_Logo_Complete.png", :width => "400"}/
      .separator5
      .font3x
        %h1 DogeNFC
        .separator10
        .separator10
        %h3 Dogecoin NFC Android Mobile Wallet
      .separator50
      %div
        %a{:href => "http://mkvd.s3.amazonaws.com/apps/BitNFC-armv7.apk"}
          %img{:src => "assets/img/google-badge.png", :width => "190"}/

        .separator30
        %h1 (Soon)
         
        .separator30
    .line-compress.center-content.bg-dark
      .separator50
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "620", :src => "https://www.youtube.com/embed/srE1fDB-dTY?rel=0&#{autoplay}&theme=light", :width => "75%"}
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "620", :src => "https://www.youtube.com/embed/8C2MHliSq8Q?rel=0&#{autoplay}&start=3&theme=light", :width => "25%"}
      .separator50
      %h3 (temporary version - dogecore has not been integrated yet)
      .separator10
      .line.gallery-wrapper
        .line.gallery
          %img.slideImg{:alt => "", :src => "http://mkvphoto.s3.amazonaws.com/BitNFC/DogeNFC/doge_home.png"}/
          %img.slideImg{:alt => "", :src => "http://mkvphoto.s3.amazonaws.com/BitNFC/DogeNFC/doge_receive2.png"}/
          %img.slideImg{:alt => "", :src => "http://mkvphoto.s3.amazonaws.com/BitNFC/DogeNFC/doge_send.png"}/
          %img.slideImg{:alt => "", :src => "http://mkvphoto.s3.amazonaws.com/BitNFC/DogeNFC/doge_receive.png"}/
          %img.slideImg.placeholder.hidden{:alt => "", :src => "http://mkvphoto.s3.amazonaws.com/BitNFC/DogeNFC/doge_settings.png"}/

      .separator50
      .clear
      %div
        %a{:href => "http://mkvd.s3.amazonaws.com/apps/BitNFC-armv7.apk"}
          %img{:src => "assets/img/google-badge.png", :width => "190"}/
      .line-compress.center-content
        .separator50
        .line
          .color-white
            %h3
              A Fork of BitNFC, a Coinbase BitHack entry


          .separator30

      /
        <div class="line-compress center-content">
        <div class='separator50'></div>
        <div class="line">
        <div class="color-white">
        <h2>
        feature
        </h2>
        </div>
        <div class='separator30'></div>
        </div>
        </div>
      .separator30
      .line-compress.center-content.color-white
        %h4 The Bitcoin version has been made for:
        .separator10
        %a{:href => "//developers.coinbase.com/bithack", :target => "_blank"}
          %img.v-middle{:src => "assets/img/bithack.png", :width => "160"}/

      .separator50
      .separator50

      %a{ href: "http://society6.com/product/sir-doge_framed-print#12=53&13=54" }
        %img{ src: "assets/img/doge.jpg" }
      %h2 :blush:

      .separator50


      .line-compress.center-content
        .separator50
        .line
          %h2.color-white DogeNFC is a fork of BitNFC, they're both open source, to get the source code or other infos about it:
          .separator5
          %a{:href => "https://github.com/makevoid/DogeNFC/blob/master/README.md#dogenfc", :target => "_blank"}
            %h1.color-white.toggle-opacity-hover Check out the project on GitHub!
        .separator50
        .separator50
    .line-compress.center-content.bg-muted-inverse
      %span.push-left.font-big.bg-crazy.color-white
          Such Team  
      .separator50
      .separator50
      .line-compress
        .col3.center-content.line-tablet.line-mobile
          .line
            %img.img-media.radius-full{:src => "https://pbs.twimg.com/profile_images/588266549431111681/-OkrErlP.jpg", :width => "150"}/
          .separator30
          %h2
            %b Dario Andrei
          %div
            %a{:href => "https://github.com/wouldgo", :target => "_blank"} @wouldgo
          .separator50.tablet.mobile
        .col4.center-content.line-tablet.line-mobile
          %img.img-media.radius-full{:src => "https://scontent-mxp.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/542160_4332260636080_2012164112_n.jpg?oh=0c5515650dddd69074fa88e4f398effd&oe=55FF2328", :width => "150"}/
          .separator30
          %h2
            %b Filippo Oretti
          %div
            %a{:href => "https://github.com/45kb", :target => "_blank"} @45kb
          .separator50.tablet.mobile
        .col3.center-content.line-tablet.line-mobile
          %img.img-media.radius-full{:src => "https://pbs.twimg.com/profile_images/505182765457764352/2wAnUl4N.jpeg", :width => "150"}/
          .separator30
          %h2
            %b Francesco Canessa
          %div
            %a{:href => "https://github.com/makevoid", :target => "_blank"} @makevoid
          .separator50.tablet.mobile
        .separator100
    / invest
    .line.center-content.bg-crazy
      .line-compress
        .line
          %span.push-left.font-big.bg-white
              Doge approves &nbsp;
          .separator50
          .separator50
          %h1.line-comopress.color-white.font-big.font-light
            Dogecoin is ideal for donations
          .separator15
          %h3.line-compress.color-muted.font-medium.font-light
            %p for young people, for crypto first timers and to drive adoption.
            %p DogeNFC is a fork of BitNFC and it has been made for wow
            %p and to spread the understanding of much crypto and *coins!
            %p
              You can see the process of
              %a{ href: "https://github.com/720kb/BitNFC/pull/12" }
                forking BitNNFC to create DogeNFC
              , it's pretty straightforward.
          .separator15
          %h4.color-muted Send us some DOGE
          %h4.color-muted to support our much development
          .separator5
          %h3 DNFCogexDNFe7BkbHc1B1maDNrCwTL6D3R
          .separator15
          %img{:alt => "DNFCogexDNFe7BkbHc1B1maDNrCwTL6D3R", :src => "assets/img/DNFCogexDNFe7BkbHc1B1maDNrCwTL6D3R.png"}/
          .separator15
          .separator15
          %p.color-muted If you have a good idea, and is much wow, contact us!
          .line
            .separator30
            %a.btn.bg-muted.btn-contacts.color-white.radius5{:href => "mailto:makevoid@gmail.com"}
              .separator5
              Much write, such wow!
              .separator5
          .separator100
          .separator50
      %small.footer.line.bg-muted.color-white.center-content
        .separator30
        .separator15
        %div
          CopyLeft ȼ 2015
          %a.color-muted-inverse{:href => "//720kb.net", :target => "_blank"} 720kb
          \&
          %a.color-muted-inverse{:href => "//makevoid.com", :target => "_blank"} makevoid
        .separator10
        .separator50
    %script{:src => "http://code.jquery.com/jquery-1.11.3.min.js"}
    :javascript
      $(function () {

        var resizeGallery = function() {
          $(".gallery").css("height", $(".slideImg").first().height()+25)
        }

        var throggle = function(fun) {
          setTimeout(fun, 0)
          setTimeout(fun, 10)
          setTimeout(fun, 150)
          setTimeout(fun, 500)
        }

        throggle(resizeGallery)
        $(window).on("resize", resizeGallery)

        $('.slideImg').on('click', function (el) {

          if ($(el.target).hasClass("active")) {
            $('.slideImg').removeClass("active")
            $(".slideImg.placeholder").addClass("hidden")
          } else {
            $(el.target).toggleClass('active')
            $(".slideImg.placeholder").removeClass("hidden")
          }

        })
      }())
